
<div class="container">
  <h1>My tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
        <% if task.completed %>
          <i class="fa fa-check-square-o mx-2" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-square-o mx-2" aria-hidden="true"></i>
        <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
  <hr>
  <i class="fa fa-plus-square" aria-hidden="true"></i>
  <%= link_to "Add a new task", new_task_path %>
</div>
