<div class="container">
  <div class="title-box d-flex justify-content-between align-items-center">
    <h1> <%= @task.title %></h1>
    <div class="edit-btn btn btn-light">
      <%= link_to "Edit this task", edit_task_path %>
    </div>
  </div>
  <p class="details bg-light p-3 rounded border"><%= @task.details %></p>
  <div class="status-box d-flex align-items-center">
    <% if @task.completed %>
      <input type="checkbox" name="checkbox" class="mx-2" checked>
      <span>The task is completed !</span>
    <% else %>
      <input type="checkbox" name="checkbox" class="mx-2">
      <span>The task is not completed yet</span>
    <% end %>
  </div>
  <hr>
  <i class="fa fa-undo" aria-hidden="true"></i>
  <%= link_to "Back to list", tasks_path %>
</div>
